{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Empresa legal }}.</h2>
<h3>{{ mensagem aleatoria }}</h3>

<address>
    Empresa Software Soluções de software para se livrar dos EX chatos<br />
    Rua do meu coração, 1010<br />
    <abbr title="Telefone">Tel:5566998855</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
